alembic==0.8.10
apache-airflow==2.4.2
appnope==0.1.0
argh==0.26.2
asn1crypto==0.24.0
atomicwrites==1.2.1
attrs==18.2.0
awscli==1.14.57
backpack==0.1
bcrypt==3.1.4
beautifulsoup4==4.6.0
bleach==2.1.2
blinker==1.4
botocore==1.9.10
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cleo==0.6.8
click==6.7
colorama==0.3.7
configparser==3.5.0
coreapi==2.3.3
coreapi-cli==1.0.9
coreschema==0.0.4
croniter==0.3.23
cryptography==2.3
decorator==4.1.2
dill==0.2.7.1
Django==2.0.2
docutils==0.14
entrypoints==0.2.3
Faker==0.7.18
flake8==3.5.0
Flask==0.11.1
Flask-Admin==1.4.1
Flask-Cache==0.13.1
Flask-Login==0.2.11
flask-swagger==0.2.13
Flask-WTF==0.14
funcsigs==1.0.0
future==0.16.0
gitdb2==2.0.3
GitPython==2.1.10
gunicorn==19.8.1
html5lib==1.0b10
idna==2.6
inflection==0.3.1
ipykernel==4.6.1
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.0.1
itsdangerous==0.24
itypes==1.1.0
jedi==0.11.0
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
lazy-object-proxy==1.3.1
lockfile==0.12.2
lxml==3.8.0
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
masonite==2.0.19
masonite-cli==2.0.11
masonite-entry==0.1.6
masonite-scheduler==1.0.0
mccabe==0.6.1
mistune==0.7.4
more-itertools==4.3.0
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.1.0
numpy==1.14.3
orator==0.9.7
ordereddict==1.1
pandas==0.23.0
pandocfilters==1.4.2
parso==0.1.0
passlib==1.7.1
pastel==0.1.0
pathtools==0.1.2
pendulum==1.5.1
pew==1.1.2
pexpect==4.2.1
pickleshare==0.7.4
pipenv==11.0.1
pluggy==0.6.0
prompt-toolkit==1.0.15
psutil==5.4.6
ptyprocess==0.5.2
py==1.6.0
pyaml==16.12.2
pyasn1==0.4.2
pycodestyle==2.3.1
pycparser==2.18
pyflakes==1.6.0
Pygments==2.2.0
pylev==1.3.0
pympress==1.0.2
pytest==3.6.0
python-daemon==2.1.2
python-dateutil==2.6.1
python-dotenv==0.8.2
python-editor==1.0.3
python-nvd3==0.14.2
python-slugify==1.1.4
python-vlc==1.1.2
pytz==2018.3
pytzdata==2018.5
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.3.1
requests==2.19.1
requests-file==1.4.3
rsa==3.4.2
s3transfer==0.1.13
searchtweets==1.7.2
setproctitle==1.1.10
simplegeneric==0.8.1
simplejson==3.16.0
six==1.11.0
smmap2==2.0.3
SQLAlchemy==1.2.8
tabulate==0.8.2
terminado==0.6
testpath==0.3.1
thrift==0.11.0
tldextract==2.2.0
tornado==4.5.2
traitlets==4.3.2
tweet-parser==1.13.1
tzlocal==1.5.1
Unidecode==1.0.22
uritemplate==3.0.0
urllib3==1.22
validator.py==1.2.5
virtualenv==15.1.0
virtualenv-clone==0.3.0
waitress==1.1.0
watchdog==0.8.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
whitenoise==3.3.1
widgetsnbextension==3.0.3
wrapt==1.10.11
WTForms==2.2
zope.deprecation==4.3.0
